<div class="container inner">
    <div class="blog list-view row">
        <div class="col-md-8 col-sm-12 content">
            <div class="blog-posts">
                <div class="pagination box">
                    <ul>
                        <li><a href="?c=blog&t=view1&page={{ _get.page - 1 }}" class="btn {% if _get.page == null or _get.page == 1 %}disabled{% endif %}">Prev</a></li>
                        {% for i in 1..numberOfPages %}
                        <li class="btn {% if _get.page == i %}active{% endif %}"><a href="?c=blog&t=view1&page={{ i }}" style="border:none;">{{ i }}</a></li>
                        {% endfor %}
                        <li><a href="?c=blog&t=view1&page={% if _get.page == null %}2{% else %}{{ _get.page + 1 }}{% endif %}" class="btn {% if _get.page == numberOfPages %}disabled{% endif %}">Next</a></li>
                        <li class="pull-right">{{ number }} articles</li>
                    </ul>
                </div>
                <div class="divide40"></div>

                <!-- début boucle -->
                {% for post in posts %}
                <div class="post box">
                    <div class="row">
                        <div class="col-sm-5">
                            <figure class="frame"><a href="index.php?c=blog&t=post&id={{ post.id }}">
                                    <div class="text-overlay">
                                        <div class="info"><span>Voir plus</span></div>
                                    </div>
                                    <img src="./assets/img/{{ post.image }}" alt="" />
                                </a></figure>
                        </div>
                        <!-- /column -->
                        <div class="col-sm-7 post-content">
                            <div class="meta">
                                <span class="category">
                                        {{ post.category }}
                                </span>
                                <span class="date">{{ post.created_at|date}}</span>
                                <span class="comments"><a href="#">{{ post.numberComments }} <i class="icon-chat-1"></i></a></span>
                            </div>
                            <h2 class="post-title"><a href="">{{ post.title|e }}</a></h2>
                            {{ post.content|slice(0,200)|raw }}
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
                {% endfor %}
                <!-- fin boucle -->
            </div>
            <!-- /.blog-posts -->
            <div class="pagination box">
                <ul>
                    <li><a href="?c=blog&t=view1&page={{ _get.page - 1 }}" class="btn {% if _get.page == null or _get.page == 1 %}disabled{% endif %}">Prev</a></li>
                    {% for i in 1..numberOfPages %}
                    <li class="btn {% if _get.page == i %}active{% endif %}"><a href="?c=blog&t=view1&page={{ i }}" style="border:none;">{{ i }}</a></li>
                    {% endfor %}
                    <li><a href="?c=blog&t=view1&page={% if _get.page == null %}2{% else %}{{ _get.page + 1 }}{% endif %}" class="btn {% if _get.page == numberOfPages %}disabled{% endif %}">Next</a></li>
                </ul>
            </div>
        </div>
        <!-- /.content -->
        {{ include('front/blog/_partials/aside.html.twig')}}
        <!-- /column .sidebar -->
    </div>
    <div class="divide100"></div>
