<section id="portfolio" class="portfolio">
    <div class="box">
        <h2 class="section-title pull-left">Projets</h2>
        <div id="filters-container" class="cbp-l-filters-alignRight pull-right">
            <div data-filter="*" class="cbp-filter-item-custom-active cbp-filter-item-custom btn">Tous</div>
            {% for category in categories %}
            <div data-filter=".{{ category.name }}" class="cbp-filter-item-custom btn">{{ category.name }}</div>
            {% endfor %}
            <!--<div data-filter=".integration" class="cbp-filter-item-custom btn">Maquettes</div>-->
        </div>
        <!-- /#filters-container -->
        <div class="clearfix"></div>
        <div id="grid-container" class="cbp-l-grid-masonry">
            <ul>
                {% for project in projects %}
                <li class="cbp-item {{ project.name }}"><!--frame -->

                    <a class="thumb" href="#"><!-- class="cbp-caption cbp-singlePage" href="#"-->
                        <!--<div class="cbp-caption-defaultWrap">-->
                            <img src="./assets/img/{{ project.url}}" alt=""  data-toggle="modal" data-target="#modal1">
                        <!--</div>-->
                            <!--<div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">{{ project.title }}</div>
                                    </div>
                                </div>
                            </div>-->
                    </a>
                </li>
                <!--Modal: Name-->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
                allowfullscreen></iframe>
            </div>

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <span class="mr-4">Spread the word!</span>
            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
            <!--Linkedin-->
            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

          </div>

        </div>
        <!--/.Content-->

      </div>
    </div   >
    <!--Modal: Name-->
                {% endfor %}
            </ul>
        </div>
        <!-- /.cbp-l-grid-masonry -->
        <div class="cbp-l-loadMore-button"> <a href="front/home/_partials/more/port1-more.html.twig" class="cbp-l-loadMore-button-link btn">VOIR PLUS</a> </div>
    </div>
    <!-- /.box -->
</section>
